# ---- Core data processing ---- #
pandas
numpy
scikit-learn
matplotlib

# ---- Document text extraction ---- #
pypdf
docling
docling-core

# ---- Database ---- #
psycopg2
sqlalchemy
pgvector

# ---- LLMs ---- #
torch
sentence-transformers

# ----  For Jupyter notebooks ---- #
ipykernel